<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.university.chat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NounChat">
        <activity
            android:name=".ui.view.GroupMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar"/>

        <activity
            android:name=".ui.view.ImageFullDisplayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar"/>
        <activity
            android:name=".ui.view.NewGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar" />
        <activity
            android:name=".ui.view.GeneralChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar" />
        <activity
            android:name=".ui.view.UserGroupsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar" />
        <activity
            android:name=".ui.view.authentication.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar" />
        <activity
            android:name=".ui.view.authentication.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar" />
        <activity
            android:name=".ui.view.authentication.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar" />
        <activity
            android:name=".ui.view.authentication.SignUpIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NounChat.NoActionBar" />
    </application>

</manifest>